{% extends 'base.html.twig' %}

{% block title %}Online Shop{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{ shopWithGoods.name }}</h1>
        <h3>{{ shopWithGoods.description }}</h3>

        <ul>
            {% for good in shopWithGoods.goods %}
                <li>
                    <p>{{ good.name }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
